.rating-display {
    position: absolute;
    bottom: auto;
    right: 2%;
  }
  .cart-menu {
    top: 100% !important;
    left: 70% !important;
    /* right: 0 !important; */
    margin-top: 0.0125rem !important;
  }
  
  @media (max-width: 576px) {
    .cart-menu {
      left: auto !important;
      right: auto !important;
    }
  }
  
  @media (max-width: 768px) {
    .cart-menu {
      left: auto !important;
      right: auto !important;
    }
  }
  @media (max-width: 992px) {
    .cart-menu {
      left: auto !important;
      right: auto !important;
    }
  }